 <!-- <footer>
      <nav class="navbar fixed-bottom navbar-dark bg-dark">
   
    <p class="display-6 navbar-text">&copy;2023 All rights reserved</p>
    </div>
    </nav>
  

      </footer> -->
      <footer>
        <nav class="navbar fixed-bottom navbar-dark bg-dark">
          <p class="navbar-text text-center w-100">Created by Arcan Caglayan &copy; 2020</p>
        </nav>
      </footer>
      