<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>


<main class="container" style="font-family: Arial, sans-serif; background-color: #f0f0f0;">
  <h1 style="color: #333;">About Me</h1>
  <main class="container" style="background-color: #fff; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); padding: 20px; margin: 20px auto; max-width: 600px;">
    <p style="color: #666;">My name is Arcan Caglayan and I am a Software Engineering Student.</p>
    <p style="color: #666;">I live in Toronto.</p>
    <p style="color: #666;">My hobbies include UFC, Soccer, and Physics.</p>
    <p style="color: #666;">Here is the <a href="https://github.com/SaturnWave" style="color: #007bff; text-decoration: none;">link</a> to my Github.</p>
  </main>
  
  

    <!--bottom nav-->
    
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   