<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

   

<main class="container">
  <h1 style="font-family: Arial, sans-serif;">My Projects</h1>
  <p>This page contains links to my Projects and my LinkedIn.</p><br>
  <p>Click <a href="https://www.linkedin.com/in/arcan-caglayan-9a4146228" style="color: #007bff; text-decoration: none;">here</a> to see my LinkedIn profile.</p>
  <br>
  <p>Click <a href="https://github.com/SaturnWave" style="color: #007bff; text-decoration: none;">here</a> to see my Github profile.</p>

  <table class="table table-striped" style="background-color: #fff; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); padding: 20px;">
    <thead>
      <tr>
        <th scope="col">Project Name</th>
        <th scope="col">Project Description</th>
        <th scope="col">Project Link</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Weather Dashboard</td>
        <td>
          <p>The Weather Dashboard project, titled "06-Server-Side-APIs-Weather-Dashboard," is an interactive web application designed to provide users with up-to-date weather information for a specific location. This dashboard allows users to:

            Check the current weather conditions for a chosen city or location.
            View a 5-day weather forecast to plan ahead.</p>
        </td>
        <td>
          <a href="https://saturnwave.github.io/-Weather-Dashboard/" style="color: #007bff; text-decoration: none;">Visit Project</a>
        </td>
      </tr>
      <tr>
        <td>Code Quiz</td>
        <td>
          <p>The customer's request is for a JavaScript Code Quiz featuring essential components. The HTML structure includes instructions, a "Begin Quiz" button, and a "View High Scores" button. The quiz interface comprises a game card with a timer, questions, multiple-choice options, and notifications for correct or wrong answers. An input form for player initials and a submit button are provided for score storage. The scorecard displays the top 10 high scores, with "Go Back" and "Clear High Scores" buttons. CSS is organized systematically, and JavaScript functions manage the timer, questions, answer comparison, score retrieval and saving, game over scenarios, leaderboard, and score clearing. The quiz's modular question array allows for easy customization</p>
        </td>
        <td>
          <a href="https://saturnwave.github.io/Code-Quiz/" style="color: #007bff; text-decoration: none;">Visit Project</a>
        </td>
      </tr>
      <tr>
        <td>ISS-tracker</td>
        <td>
          <p>The ISS Tracker project comprises an index.html file and JavaScript code. The HTML file acts as the user interface, featuring a map displaying the real-time position of the International Space Station (ISS). The JavaScript code is responsible for fetching and updating ISS data, facilitating user interactions, and ensuring continuous tracking. This web application offers users the ability to monitor the ISS's precise location, altitude, and speed. With its educational and informative value, the ISS Tracker is a valuable resource for space enthusiasts and educators, providing a dynamic and engaging way to explore the ISS's orbital path and activities in space.</p>
        </td>
        <td>
          <a href="https://saturnwave.github.io/ISS-tracker/" style="color: #007bff; text-decoration: none;">Visit Project</a>
        </td>
      </tr>
    </tbody>
  </table>
</main>



<!-- bottom nav -->
<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>

  