<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4" style="font-family: Arial, sans-serif;">Services Offered</h1>
  </div>

  <section class="services">
    <div class="row">
      <div class="col-md-6" style="background-color: #f0f0f0; padding: 20px; border-radius: 10px;">
        <h2 style="color: #333;">Easy and Fast Trading System</h2>
        <p style="color: #666;">Our System aims to ease to process buyinh and selling Farming goods between  Consumers and Farmers</p>
      </div>
      <div class="col-md-6" style="background-color: #f0f0f0; padding: 20px; border-radius: 10px;">
        <h2 style="color: #333;">Rent your Land to Local</h2>
        <p style="color: #666;">You can either Farm your own land or have an option to rent it , and the option is given to you ,either you can rent whole land to a one customer, or you can divide it and rent it to multiple people at the same time</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" style="background-color: #f0f0f0; padding: 20px; border-radius: 10px;">
        <h2 style="color: #333;">Marketplace Insights and Analytics</h2>
        <p style="color: #666;">Gain valuable insights into market trends and consumer preferences. Our platform provides analytics to help farmers and landowners make informed decisions about what to grow and sell.</p>
      </div>
      <div class="col-md-6" style="background-color: #f0f0f0; padding: 20px; border-radius: 10px;">
        <h2 style="color: #333;">Land Optimization Consulting</h2>
        <p style="color: #666;">Maximize the potential of your land with our consulting services. We offer guidance on sustainable farming practices, crop rotation, and efficient land use to enhance productivity and profitability.</p>
      </div>
    </div>
  </section>
</main>

<!-- bottom nav -->
<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
